/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#navbar, #sidebar, #content, #home-hero {
	margin-left: .5em;
}

#navbar, #home-hero {
	margin-right: .5em;
}

#navbar-about {
	float: right;
}

footer {
	text-align: center;
}

body {
	padding-top: 1.3em;
}

.about-header, .peopleheader {
	color: rgb(153, 153, 153);
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 24.5px;
	font-weight: 400;
	line-height: 24.5px;
	text-rendering: optimizelegibility;
}

.peopleheader {
	font-size: 15px;
}

.socialicon {
	font-size: 180px;
	margin-bottom: 10px;
	line-height: 150px;
}

#emailicon {
	font-size: 155px;
	line-height: 135px;
}

#friendemail {
	margin-bottom: 5px;
}